<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_files/history_style.css">
    <link rel="stylesheet" href="../css_files/dialog.css">
    <script src="https://kit.fontawesome.com/4bdd37639a.js" crossorigin="anonymous"></script>
    <script src="../js_files/profile_js.js"></script>
    <script src="../js_files/search.js"></script>
    <link rel="icon" type="image/x-icon" href="data:<%= resource.webImg.favicon.contentType %>;base64,<%= resource.webImg.favicon.data.toString('base64') %>">
    <title>Profile-Bidding Wars</title>
</head>
<body>
   



    <% if (resource.category == 'buy') { %>
     
        <style>
            :root {
                --color: orange;
            }

            .productImage {
            background-color: black ;
            box-shadow: 0 0 .4rem #fff,
            0 0 .4rem #fff,
            0 0 2rem var(--color),
            0 0 1rem var(--color),
            0 0 1.2rem var(--color);
            }

            .price {
                font-size: 2rem;
                margin: 1rem;
                text-shadow: 0 0 .2rem #fff,
                0 0 .3rem #fff,
                0 0 2rem var(--color),
                0 0 1rem var(--color),
                0 0 1.2rem var(--color);
            }
        </style>


        <% } else { %>
         
            <style>
                :root {
                    --color: rgb(119, 0, 255);
                }
    
                .productImage {
                background-color: black ;
                box-shadow: 0 0 .4rem #fff,
                0 0 .4rem #fff,
                0 0 2rem var(--color),
                0 0 1rem var(--color),
                0 0 1.2rem var(--color);
                }
    
                .price {
                    font-size: 2rem;
                    margin: 1rem;
                    text-shadow: 0 0 .2rem #fff,
                    0 0 .3rem #fff,
                    0 0 2rem var(--color),
                    0 0 1rem var(--color),
                    0 0 1.2rem var(--color);
                }
            </style>





    <% } %>




    <div class="main-div">


        <header>
    
            <a href="/">
                <img src="data:<%= resource.webImg.logo.contentType %>;base64,<%= resource.webImg.logo.data.toString('base64') %>" class="logo"/>
            </a>
            <div class="header-div">
                <ul>
                    <li class="searchListItem">
                        <div>
                            <input type="text" name="query" id="searchQuery" onkeyup="showResult(this.value)">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <div id="livesearch">

                            </div>
                        </div>
                    </li>
    
                    <li class="hover-list">
                        <a href="/">Home</a>
                    </li>


    
                    <li class="hover-list">
                   
                            <a href="buy">Buy</a>
                           
                    </li>
    
                    <li class="hover-list">
                        <% if (resource.isLogin == 1) { %>
                            <a href="favourites">Favourites</a>
                            <% } else { %>
                                
                                <a onclick="showDialog('favDialog')">Favourites</a>
                                <dialog id="favDialog" class="dialog">
                                    <p>
                                        Login to view Favourites
                                    </p>
                                    <span onclick="closeDialog('favDialog')">
                                        X
                                    </span>
                                </dialog>
    
                        <% } %>
                    </li>
    
                    <li class="hover-list">
                        <% if (resource.isLogin == 1) { %>
                            <a href="sell">Sell</a>
                            <% } else { %>
                                
                                <a onclick="showDialog('sellDialog')">Sell</a>
                                <dialog id="sellDialog" class="dialog">
                                    <p>
                                        Login to sell products
                                    </p>
                                    <span onclick="closeDialog('sellDialog')">
                                        X
                                    </span>
                                </dialog>
    
                        <% } %>
                    </li>
    
                    <li>
                        <a id="present"> My Profile</a>
                    </li>
    
                    <% if (resource.isLogin == 1) { %>
                    <li class="hover-list logout">
                            <a href="logout">
                                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                            </a>
                        </li>
                    <% } %>
    
    
    
                </ul>
            </div>
        </header>

        
    <!-- </div> -->

    

    <div class="profileMain" id="Profile">
        <div class="profileOptions">
             
            <a href="profile">
                <p>
                    Personal
                </p>
            </a>
    
                <a href="edit">
                    <p>
                        Edit
                    </p>
                </a>
                <a href="wallet">
                    <p>
                        Wallet
                    </p>
                </a>


            <% if (resource.category == 'buy') { %>
            
                    <p id="active">
                        Buy History
                    </p>

                    <a href="sellHistory">
                        <p>
                            Sell History
                        </p>

                    </a>


            <% } else { %>
            
                <a href="buyHistory">
                    <p>
                        Buy History
                    </p>
                </a>

                <p id="active">
                    Sell History
                </p>


            <% } %>


        </div>




        <div class="product-div">




            <% if (resource.products.length == 0) { %>
                
                <div class="emptyDiv">


                    <% if (resource.category == 'buy') { %>
                        <a href="buy">
        
                            <div>
                                <i class="fa-solid fa-plus"></i>
                                <p>
                                    Buy products
                                </p>
                            </div>
                        </a>

                    <% } else { %>

                        <a href="sell">
        
                            <div>
                                <i class="fa-solid fa-plus"></i>
                                <p>
                                    Sell Products
                                </p>
                            </div>
                        </a>

                    <% } %>


                 
                </div>


            <% } else { %>
 

                <% resource.products.forEach(product => { %>
                    <div class="product">



                        <% if (resource.category == 'sell') { %>
                     

                            <p class="status">
                                <%= product.status %>
                            </p>
    

                            <style>
                                .status {
                                    background: white;
                                    border-radius: 10px;    
                                    font-weight: bold;
                                    position: absolute;
                                    padding: .8rem;
                                    top: 8%;
                                    right: 2%;
                                    color: black
                                }
                            </style>
    
    
                        <% } %> 

                        <div class="productImage">
                            <img src="data:<%= product.productImageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                        </div>
                        <p class="productName">
                            <a href="buyProduct?id=<%= product.productID %>">
                                <%= product.productName %>
                            </a>
                        </p>
                        <p class="shortDescription">
                            <%= product.shortDescription %>
                        </p>
                        <div class="extra">

                            <p class="startDate">
                                Start Date: <%= new Date(product.startDate).toLocaleDateString() %>
                                <span style="display: block;"> <%= new Date(product.startDate).toLocaleTimeString() %></span>
                            </p>
                            <p class="endDate">
                                End Date: <%= new Date(product.endDate).toLocaleDateString() %>
                                <span style="display: block;"> <%= new Date(product.endDate).toLocaleTimeString() %></span>
                            </p>
                            <p class="currentPrice">
                                Price:   
                                <span class="price">
                                    &#8377;<%= product.currentPrice %>
                                </span>
                            </p>
                        </div>
                    </div>
                <% }) %>


            <% } %>








          
        </div>

        
    </div>

    </div>
      

      


   








    <footer>
        <div class="made">
            <span>Made with   
                <i class="fa-sharp fa-solid fa-heart"></i>
                
            </span>
        </div>
        <p>CONTACT DETAILS: </p>
        <div class="links">
            <a href="https://github.com/santhosh-programmer" target="_blank">
                <span>
                    <i class="fa-brands fa-github"></i>
                    Github
                </span>
            </a>
            <a href="https://www.linkedin.com/in/santhosh-programmer" target="_blank">
                <span>
                    <i class="fa-brands fa-linkedin"></i>   
                    LinkedIn
                </span>
            </a>
            <a href="mailto:santhoshp.official@gmail.com" target="_blank">
                <span>
                    <i class="fa-solid fa-envelope"></i>
                    santhoshp.official@gmail.com
                </span>
            </a>
            <a href="https://www.instagram.com/santhosh_pgmr" target="_blank"> 
                <span>
                    <i class="fa-brands fa-instagram"></i>
                    Instagram
                </span>
            </a>
        </div>
    </footer>

    <script>
        
        if(performance.navigation.type == 2){
            location.reload(true);
        }

    </script>

</body>
</html>