<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_files/home_style.css">
    <link rel="stylesheet" href="../css_files/dialog.css">
    <script src="https://kit.fontawesome.com/4bdd37639a.js" crossorigin="anonymous"></script>
    <script src="../js_files/home._js.js"></script>
    <script src="../js_files/search.js"></script>
    <link rel="icon" type="image/x-icon" href="data:<%= resource.webImg.favicon.contentType %>;base64,<%= resource.webImg.favicon.data.toString('base64') %>">
    <title>Home-Bidding Wars</title>
</head>
<body>
    
<div class="main-div">


    <header>

        <a href="/">
            <img src="data:<%= resource.webImg.logo.contentType %>;base64,<%= resource.webImg.logo.data.toString('base64') %>" class="logo"/>
        </a>
        <div class="header-div">
            <ul>
                <li class="searchListItem">
                    <div>
                        <input type="text" name="query" id="searchQuery" onkeyup="showResult(this.value)">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div id="livesearch">

                        </div>
                    </div>
                </li>

                <li>
                  <a id="present"> Home</a>
                </li>

                <li class="hover-list">

                        <a href="buy">Buy</a>

                </li>

                <li class="hover-list">
                    <% if (resource.isLogin == 1) { %>
                        <a href="favourites">Favourites</a>
                        <% } else { %>
                            
                            <a onclick="showDialog('favDialog')">Favourites</a>
                            <dialog id="favDialog" class="dialog">
                                <p>
                                    Login to view Favourites
                                </p>
                                <span onclick="closeDialog('favDialog')">
                                    X
                                </span>
                            </dialog>

                    <% } %>
                </li>

                <li class="hover-list">
                    <% if (resource.isLogin == 1) { %>
                        <a href="sell">Sell</a>
                        <% } else { %>
                            
                            <a onclick="showDialog('sellDialog')">Sell</a>
                            <dialog id="sellDialog" class="dialog">
                                <p>
                                    Login to sell products
                                </p>
                                <span onclick="closeDialog('sellDialog')">
                                    X
                                </span>
                            </dialog>

                    <% } %>
                </li>

                <li class="hover-list">
                <% if (resource.isLogin == 1) { %>
                    <a href="profile">My Profile</a>
                    <% } else { %>
                        <a href="login">Login / Register</a>
                        <% } %>
                </li>

                <% if (resource.isLogin == 1) { %>
                <li class="hover-list logout">
                        <a href="logout">
                            <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
                        </a>
                    </li>
                <% } %>



            </ul>
        </div>
    </header>

    <div class="carousel-main">
        <div class="carousel-div">

            <img src="data:<%= resource.homeImg.carousel0.contentType %>;base64,<%= resource.homeImg.carousel0.data.toString('base64') %>" id="carousel0" class="carousel"/>
            <img src="data:<%= resource.homeImg.carousel1.contentType %>;base64,<%= resource.homeImg.carousel1.data.toString('base64') %>" id="carousel1" class="carousel"/>
            <img src="data:<%= resource.homeImg.carousel2.contentType %>;base64,<%= resource.homeImg.carousel2.data.toString('base64') %>" id="carousel2" class="carousel"/>
            <img src="data:<%= resource.homeImg.carousel3.contentType %>;base64,<%= resource.homeImg.carousel3.data.toString('base64') %>" id="carousel3" class="carousel"/>
            <img src="data:<%= resource.homeImg.carousel4.contentType %>;base64,<%= resource.homeImg.carousel4.data.toString('base64') %>" id="carousel4" class="carousel"/>

        </div>
        <span class="leftArrow" onclick="carouselLeft()">
            <i class="fa-solid fa-less-than"></i>
        </span>
        <span class="rightArrow" onclick="carouselRight()">
            <i class="fa-solid fa-greater-than"></i>
        </span>
    </div>
    
    <div class="space">
        <span></span>
    </div>

    <div class="menus" id="menus">
        <div>
            <a href="antiques">
                <img src="data:<%= resource.antiquesMenu[0].productImageContentType %>;base64,<%= resource.antiquesMenu[0].productImageData.toString('base64') %>">
            </a>
            <p>
                Antiques
            </p>
        </div>
        <div>
            <a href="vehicle">
                <img src="data:<%= resource.vehicleMenu[0].productImageContentType %>;base64,<%= resource.vehicleMenu[0].productImageData.toString('base64') %>">
            </a>

            <p>
                Vehicles
            </p>
        </div>
        <div>
            <a href="furnitures">
                <img src="data:<%= resource.furnitureMenu[0].productImageContentType %>;base64,<%= resource.furnitureMenu[0].productImageData.toString('base64') %>">
            </a>

            <p>
                Furnitures
            </p>
        </div>
        <div>
            <a href="homeAppliances">
                <img src="data:<%= resource.haMenu[0].productImageContentType %>;base64,<%= resource.haMenu[0].productImageData.toString('base64') %>">
            </a>

            <p>
                Home Appliances
            </p>
        </div>
        <div>
            <a href="electronics">
                <img src="data:<%= resource.electronicsMenu[0].productImageContentType %>;base64,<%= resource.electronicsMenu[0].productImageData.toString('base64') %>">
            </a>

            <p>
                Electronics
            </p>
        </div>
        <div>
            <a href="otherProducts">
                <img src="data:<%= resource.opMenu[0].productImageContentType %>;base64,<%= resource.opMenu[0].productImageData.toString('base64') %>">
            </a>

            <p>
                Other products
            </p>
        </div>
    </div>

    <div class="space">
        <span></span>
    </div>

    <div class="furniture">
        <h1>
            World class Furnitures
        </h1>
        <div class="furImages">
            <% resource.furnitureMenu.forEach(product => { %>
                <div>
                    <a href="buyProduct?id=<%= product.productID %>">
                    <img src="data:<%= product.productImageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                    </a>
                </div>
            <% }) %>
          
        </div>
    </div>
    
    <div class="space">
        <span></span>
    </div>
    
    <div class="antiques">
        <h1>
            Old is Gold
        </h1>
        <div class="antiquesImages">
            <% resource.antiquesMenu.forEach(product => { %>
                <div>
                    <a href="buyProduct?id=<%= product.productID %>">
                    <img src="data:<%= product.productImageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                    </a>
                </div>
            <% }) %>
           
        </div>
    </div>
    
    <div class="space">
        <span></span>
    </div>
    
    <div class="ha">
        <h1>
            Must have Home Appliances
        </h1>
        <div class="haImages">
            <% resource.haMenu.forEach(product => { %>
                <div>
                    <a href="buyProduct?id=<%= product.productID %>">
                    <img src="data:<%= product.productImageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                    </a>
                </div>
            <% }) %>
            
        </div>
    </div>
    
    <div class="space">
        <span></span>
    </div>
    
    <div class="bike">
        <h1>
            Ready to use Vehicles
        </h1>
        <div class="bikeImages">
            <% resource.vehicleMenu.forEach(product => { %>
                <div>
                    <a href="buyProduct?id=<%= product.productID %>">
                    <img src="data:<%= product.productImageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                    </a>
                </div>
            <% }) %>
       
        </div>
    </div>
    
    <div class="space">
        <span></span>
    </div>
    
    <div class="elec">
        <h1>
            Electronics from verified sellers
        </h1>
        <div class="elecImages">
            <% resource.electronicsMenu.forEach(product => { %>
                <div>
                    <a href="buyProduct?id=<%= product.productID %>">
                    <img src="data:<%= product.productImaageContentType %>;base64,<%= product.productImageData.toString('base64') %>">
                    </a>
                </div>
            <% }) %>
       
        </div>
    </div>
    

</div>

    <footer>
        <div class="made">
            <span>Made with   
                <i class="fa-sharp fa-solid fa-heart"></i>

            </span>
        </div>
        <p>CONTACT DETAILS: </p>
        <div class="links">
            <a href="https://github.com/santhosh-programmer" target="_blank">
                <span>
                    <i class="fa-brands fa-github"></i>
                    Github
                </span>
            </a>
            <a href="https://www.linkedin.com/in/santhosh-programmer" target="_blank">
                <span>
                    <i class="fa-brands fa-linkedin"></i>   
                    LinkedIn
                </span>
            </a>
            <a href="mailto:santhoshp.official@gmail.com" target="_blank">
                <span>
                    <i class="fa-solid fa-envelope"></i>
                    santhoshp.official@gmail.com
                </span>
            </a>
            <a href="https://www.instagram.com/santhosh_pgmr" target="_blank"> 
                <span>
                    <i class="fa-brands fa-instagram"></i>
                    Instagram
                </span>
            </a>
        </div>
    </footer>

</body>
</html>