<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_files/register_styles.css">
    <link rel="stylesheet" href="../css_files/dialog.css">
    <script src="../js_files/register_js.js"></script>
    <link rel="icon" type="image/x-icon" href="data:<%= resource.webImg.favicon.contentType %>;base64,<%= resource.webImg.favicon.data.toString('base64') %>">
    <title>Register-Bidding Wars</title>
</head>
<body onload="document.getElementById('registerForm').reset()">

    <dialog id="success" class="dialog">
        <p>
            <%=resource.message%>
        </p>
        <span onclick="closeDialog('success')">
            X
        </span>
    </dialog>

    <script>
        let status = `<%=resource.message %>`
        // console.log(`<%=resource.message %>`)
        // console.log(status)
        if(status) {
            let element = document.getElementById('success')
            element.showModal()
        }
    </script>

    <div style="height: 100px;">
    </div>
    <div class="main-div">
        <div class="logo">
            <img src="data:<%=resource.webImg.logo.contenType%>;base64,<%= resource.webImg.logo.data.toString('base64') %>" class="logo"/>
            
        </div>
        
        <form method="post" action="/register-user" class="register-form" id="registerForm">
            
            <div class="register-box">
                <p class="title">Register</p>
                <div>
                    <label for="firstNameField">
                        <p>
                            First Name : <span onclick="showToolTip('firstNameTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="text" name="firstName" id="firstNameField" required minlength="3" autocomplete="off">
                </div>
                <div>
                    <label for="lastNamefield">
                        <p>
                            Last Name : <span onclick="showToolTip('lastNameTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="text" name="lastName" id="lastNamefield" required minlength="1"autocomplete='off'>
                </div>
                <div>
                    <label for="userNameField">
                        <p>
                            User Name : <span onclick="showToolTip('userNameTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="text" name="userName" id="userNameField" required minlength="5" autocomplete="off">
                </div>
                <div>
                    <label for="emailField">
                        <p>
                            E-mail id : <span onclick="showToolTip('emailTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="email" name="userEmail" id="emailField" required minlength="7" autocomplete="off">
                </div>
                <div>
                    <label for="userPasswordField">
                        <p>
                            New Password : <span onclick="showToolTip('passwordTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="password" name="userPassword" id="userPasswordField" required minlength="8" autocomplete="off">
                </div>
                <div>
                    <label for="confirmPasswordField">
                        <p>
                            Confirm Password : <span onclick="showToolTip('confirmPasswordTip')">&#9432;</span>
                        </p>
                    </label>
                    <input type="password" name="confirmPassword" id="confirmPasswordField" required minlength="8"autocomplete='off'>
                </div>
                <div class="register-field">
                    <a href="login">
                        <p>
                            Log in here
                        </p>
                    </a>
                </div>
                <div id="register-status">
                    
                </div>
                <div class="register-btn-field">
                    <input type="submit" value="Register" class="register-btn">
                </div>
            </div>
        </form>
    </div>
    <div style="height: 100px;">
    </div>
</body>
</html>